body {
    font-family: Arial, sans-serif;
    background-color: #0dd2f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .login-container {
    background-color: #fff;
    padding: 40px;
    width: 70%;
    border-radius: 0px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  #login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #login-form h2 {
    margin-bottom: 20px;
  }
  
  .input-group {
    margin-bottom: 10px;
  }
  
  .input-group label {
    margin-bottom: 5px;
    display: block;
  }
  
  .input-group input {
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .checkbox-container {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
  }
  
  .checkbox-container input {
    margin-right: 5px;
  }
  
  button {
    padding: 8px 20px;
    border: none;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    border-radius: 3px;
  }